{% extends 'admin/base_site.html' %}

{% block title %}
    Загрузка данных|Отчеты RENOVA
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
       #centerLayer {
        margin-left: 20%; /* Отступ слева */
        width: 60%; /* Ширина слоя */
        padding: 10px; /* Поля вокруг текста */
       }
    </style>
{% endblock %}

{% comment %}{% block breadcrumbs %}
{% endblock %}{% endcomment %}

{% block content %}
    <div id="centerLayer">
        <h1>Загрузка модели из текстового файла</h1>
        <form action="" method="post" id="save_form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Модель: {{ mod_name }}</h2>
            Требуемый формат файла: {{ format_help }} (UTF-8)
            <h2>Загружаемые данные:</h2>
            {{ form.file }}
            <p>{{ form.file.errors }}</p>
            <input type="submit" value="Записать в базу данных" class="default align-right">
        </form>
   </div>
{% endblock %}