{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
    {{ block.super }}|{{ title }}
{% endblock %}

{% block content %}
<div id="TopLevel"></div>
{% include 'inc/staff_navbar.html' %}

<div class="container">
    <main>
        <div class="row py-4 justify-content-between">
            <div class="col-auto"><h3>{{ title }}</h3></div>
            <div class="col-auto"></div>
        </div>

        <div class="row g-5">
            <div class="col-lg-5  order-lg-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Найдено записей</span>
                    <span class="badge bg-primary rounded-pill">{{ obj_count }}</span>
                </h4>
                <form class="card p-2" method="get">
                    <div class="row mb-3">
                        <label class="col-xl-4 col-form-label">Тип данных</label>
                        <div class="col-xl-8">
                            {{ form.model}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-xl-4">Действия</label>
                        <div class="col-xl-8">
                            {{ form.action_on_model }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-xl-4">Менеджер</label>
                        <div class="col-xl-8">
                            {{ form.staff_user }}
                        </div>
                    </div>
                    <div class="container mt-2 d-flex justify-content-center gap-2">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i>
                            выбрать
                        </button>
                        <a class="btn btn-outline-primary" href="{{ request.path }}" role="button">
                            <i class="bi bi-x-lg"></i>
                            сбросить
                        </a>
                    </div>
                </form>
            </div>

            <div class="col-lg-7  d-grid gap-3">
                {% if logs %}
                {% for action in logs %}
                {% show_log action %}
                {% endfor %}
                {% else %}
                <h4 class="text-center text-muted">Ничего не найдено ...</h4>
                {% endif %}
            </div>
        </div>
        {% if logs %}
        <!-- кнопка ВВЕРХ !-->
        {% include 'inc/go_to_top_button.html' %}
        {% endif %}
    </main>
    {% include 'inc/list_paginator.html' %}
</div>

{% include 'inc/footer.html' %}
{% endblock %}
