{% load my_tags %}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong>RENOVA</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'staff_home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'reports_list' %}">Все отчеты</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Сервисные центры</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="{% url 'centres_list_page' %}">Сервисные центры</a></li>
              <li><a class="dropdown-item" href="{% url 'centres_contacts_page' %}">Контакты сервисных центров</a></li>
              <li><a class="dropdown-item" href="{% url 'centres_region_list_page' %}">Регионы сервисных центров</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if request.user|has_group:'GeneralStaff' or request.user.is_superuser %}
              <li><a class="dropdown-item" href="{% url 'centres_add_page' %}">Добавить сервисый центр</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'contact_add_page' %}">Добавить контакт</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Продукция и коды</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="{% url 'products_list_page' %}">Продукция</a></li>
              <li><a class="dropdown-item" href="{% url 'code_and_prices_page' %}">Коды неисправностей и все расценки</a></li>
              {% show_base_price_links %}
              {% if request.user|has_group:'GeneralStaff' or request.user.is_superuser %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'code_add_page' %}">Добавить код неисправности</a></li>
              <li><a class="dropdown-item" href="{% url 'price_add_page' %}">Добавить базовую расцеку</a></li>
              <li><a class="dropdown-item" href="{% url 'centerprice_add_page'%}">Добавить индивидуальную расцеку</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'help_page' %}">Помощь</a>
          </li>
        </ul>
        <div>
            <a class="btn btn-outline-secondary" href="{% url 'user_logout' %}" role="button">Выход</a>
        </div>
      </div>
    </div>
  </nav>

<div class="container-fluid">
    {% include 'inc/show_message.html' %}
</div>