{% load my_tags %}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong>RENOVA</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'user_home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'products_list_page' %}">Продукция</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'code_and_prices_page' request.user.service_center.pk %}">Коды неисправностей и расценки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'help_page' %}">Помощь</a>
          </li>
         </ul>
        <div>
          <label class="p-2 align-middle"><strong>{{ request.user.service_center }}</strong></label>
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'user_logout' %}" role="button">Выход</a>
        </div>
      </div>
    </div>
  </nav>

<div class="container-fluid">
    {% include 'inc/show_message.html' %}
</div>